<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/images/favi.PNG" type="image/x-icon">
    <title>Colourland</title>
    
</head> 
<body>
   <div class="nav-bar">
     <ul>
         <li><a href="#">
             <span class="icon"><i class='bx bxs-home'></i></span>
             <span class="title">Home</span>
         </a></li>
         <li><a href="#">
             <span class="icon"><i class='bx bxs-food-menu'></i></span>
             <span class="title">Registration</span>
         </a></li>
         <li><a href="#">
             <span class="icon"><i class='bx bxs-party' ></i></span>
             <span class="title">Party</span>
         </a></li>
         <li><a href="#">
             <span class="icon"><i class='bx bxs-info-circle'></i></span>
             <span class="title">About</span>
         </a></li>
         <li><a href="#">
             <span class="icon"><i class='bx bxs-wallet'></i></span>
             <span class="title">Sponsors</span>
         </a></li>
         
         <li><a href="#">
             <span class="icon"><i class='bx bx-phone-call' ></i></span>
             <span class="title">Contact Us</span>
         </a></li>
         
     </ul>

   </div>
       

   <div class="text">
       <span class="intro1">HOLI</span>
         <span class="intro2">HAIIIII</span>


  
    </div>
    
   

    
    <section class="collaboration">
        <div class="container">
          <i class='bx bxs-calendar bx-tada bx-rotate-90' ></i>
          <div class="text-group">
          <h2 class="title secondary-title">Day</h2>
            <p>
             18th MARCH 2022
             </p>
           </div>

            <i class='bx bxs-time-five bx-tada' ></i>
            <div class="text-group">
              <h2 class="title secondary-title">Time</h2>
              <p>
               5:00 pm IST
               </p>
            </div>
           </div>
        </section>
    
       <section class="voice-channel">
         <div class="container wrapper">
          <div class="about"> <img src="/images/About us.jpg" alt=""> </div>
            <div class="text-group">
             <h2 class="title secondary-title">About</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Possimus iste cumque temporibus, iure vero, est facere ipsam 
            doloremque ipsa voluptatum quia similique.
          </p>
          </div>
         </div>
       </section>
       
      
      <section class="download">
        <div class="container">
              <a href="/register" class="btn btn-large btn-brand">
                <i class='bx bx-download'></i> Registration form
           
              </a>
        </div>
      </section>

      <section class="recruiter">
        <h2><span>SPONSORS</span></h2>
        </section>
      <div class="slider">
        <div class="slider-track">
            <div class="slide">
                <img src="/images/SPONSOR.png" alt="">
             </div>
    
             <div class="slide">
                <img src="/images/SPONSOR1.png" alt="">
             </div>
    
             <div class="slide">
                <img src="/images/SPONSOR2.png" alt="">
             </div>
    
             <div class="slide">
                <img src="/images/SPONSOR3.png" alt="">
             </div>
    
             <div class="slide">
                <img src="/images/SPONSOR4.png" alt="">
             </div>
    
            <div class="slide">
                <img src="/images/SPONSOR5.png" alt="">
             </div>
    
             <div class="slide">
                <img src="/images/SPONSOR.png" alt="">
             </div>
    
             <div class="slide">
                <img src="/images/SPONSOR1.png" alt="">
             </div>
    
             <div class="slide">
                <img src="images/SPONSOR2.png" alt="">
             </div>
    
             <div class="slide">
                <img src="/images/SPONSOR3.png" alt="">
             </div>
    
    
            
        </div>
    </div>
    
    
    
    <section class="footer">

      <div class="row">
         <div class="footer-col">
             <form action="index.html" class="login" method="POST">
                 <h2>Feedback</h2>
                 <div class="scissor">
                 <input type="text" name="" placeholder="Your Email" id="username">
                 <div class="steel"><input type="text" name="" placeholder="Your Precious Feedback" id="Feedback"></div>
                 <input type="submit" name="" value="Send!!"></div>
             </form>

         </div>

        <div class="footer-col">
            <h2>Contact Me</h2>
            <div class="email">
                
                  <i class='bx bx-mail-send bx-tada'></i>
                    <a href="#">ankur71@gmail.com</a>
            </div>
             <div class="paper">
                <i class='bx bxs-phone-call bx-tada' ></i>
                 <a href="#">+91 0000000000</a>
             </div>
            
        </div>

        <div class="footer-col">
            <h2>Follow Me On</h2>
            <div class="rock">
                <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
                <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
                <a href="#"><i class='bx bxl-youtube' ></i></a>
                <a href="#"><i class='bx bxl-discord' ></i></i></a>
            </div>
        </div>
        </div>
    </section>


    </div>
    <!-- <script>
        const skew1 = document.querySelector('.skew1');
        const skew2 = document.querySelector('.skew2');
        window,addEventListener('scroll', function(){
            const value1 = -15 + window.scrollY/45;
            const value2 = 15 + window.scrollY/-45;
            skew1.style.transform = "skewY(" + value1 + "deg)";            
            skew2.style.transform = "skewY(" + value2 + "deg)";            
        })
    </script> -->
</body>
</html>

